@import "tailwindcss";

/* Definir estilo de fuentes */
@font-face {
    font-family: "familia";
    src: url();
    font-weight: 400;
    font-display: swap;
}


/* Asignar estilos de fuentes */
html {
    font-family: 'Times New Roman', Times, serif;
}