---
import BoardLayout from '../layouts/BoardLayout.astro';
---

<BoardLayout>
    <div class="flex flex-col items-center justify-center h-screen">
        <h1 class="text-4xl font-bold mb-4">404 - Página no encontrada</h1>
        <p class="text-lg">Lo sentimos, la página que buscas no existe.</p>
        <a href="/" class="mt-4 text-blue-500 hover:underline">Volver a la página principal</a>
    </div>
</BoardLayout>