---
import Layout from '../layouts/Layout.astro';
import Carousel from '../components/Carousel.astro';

---

<Layout hideLayout={true}> 
	<!-- <Carousel /> -->
	 <h1 class="text-5xl text-center font-black">Bienvenido a Inckarri</h1>
</Layout>
