---
import Auth from "../layouts/Auth.astro";
---

<Auth>
  <div class="flex h-32 ">
    <bottom
      class="background-color: #F2F2F2; flex-1 flex justify-center items-center"
      onclick="window.location.href='/register/client'"
    >
      Cliente
    </bottom>
    <bottom
      class="background-color: #F2F2F2; flex-1 flex justify-center items-center"
      onclick="window.location.href='/register/company'"
    >
      Empresa
    </bottom>
  </div>
</Auth>
