---

---

<div class="relative w-full max-w-lg mx-auto overflow-hidden">
  <div
    class="flex transition-transform duration-500 ease-in-out"
    id="carousel-inner"
  >
    <div class="min-w-full">
      <img
        src="/public/images/inckarri_image.jpg"
        alt="Imagen 1"
        class="w-full"
      />
    </div>
    <div class="min-w-full">
      <img
        src="/public/images/inckarri_image.jpg"
        alt="Imagen 2"
        class="w-full"
      />
    </div>
    <div class="min-w-full">
      <img
        src="/public/images/inckarri_image.jpg"
        alt="Imagen 3"
        class="w-full"
      />
    </div>
  </div>
  <div
    id="carrousel"
    class="absolute top-1/2 w-full flex justify-between transform -translate-y-1/2"
  >
    <button onclick="prevSlide()" class="bg-black bg-opacity-50 text-white p-2"
      >&#10094;</button
    >
    <button onclick="nextSlide()" class="bg-black bg-opacity-50 text-white p-2"
      >&#10095;</button
    >
  </div>
</div>