<header class="top-0 w-full z-50 mx-auto max-w-6xl">
    <nav class="flex justify-between px-6 text-sm w-full items-center">
        <div class="flex w-[30%]"> 
            <a href="/dashboard" class="size-28">
                <img class="" src="public/images/inckarri_image.jpg">
            </a>
        </div>
        <div class="flex gap-4 w-[70%] justify-center" >
            <p>Visión</p>
            <p>Servicios</p>
            <p>Beneficios</p>
            <p>Preguntas Frecuentes</p>
            <p>Contacto</p>
        </div>
        <div class="flex flex-row gap-2 w-[30%] justify-end">
            <a href="/login">
                <i></i>
                <p>Iniciar sesión</p>
            </a>
            <div class="border-r-2"></div>
            <a href="/register">registrase</a>
            <div class="border-r-2"></div>
            <a href="/dashboard">
                <i></i>
                <p>Inglés</p>
            </a>
        </div>
    </nav>   
</header>