---
import '../styles/global.css'
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const {hideLayout = true} = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- HTML Meta Tags  -->
		<title>Inckarri</title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="description" content="Bienvenido a Inckarri, una página increíble." />
		<base href="/"> 

		<!-- og Meta Tags -->
		<meta property="og.url" content="#"/>
		<meta property="og.type" content="website"/>
		<meta property="og.title" content="Inckarri" />
		<meta property="og.description" content="..." />
		<meta property="og.image" content="#" />
	</head>
	<body class="flex flex-col gap-4">
		{ !hideLayout && <Header />}
		<main>
			<slot />
		</main>
		{ !hideLayout && <Footer />}
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
